header {
    /* background-color: rgb(24, 15, 15);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(220, 218, 212);
    justify-content: center; */
  }
  header {
    display : flex;
    background-color:black ;
    flex-direction: row;
    size: 2px;
    color: transparent;
background: #666666;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: white;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
  }
   #nav{
    background-color: black;
   }
 
  .houseIcon{
   
    outline: 5px double rgba(28,110,164,0.4);
outline-offset: 5px;

  }
  .aboutBtn{
    margin-left: 130%;
    margin-right: 10%;
    outline: 5px double rgba(28,110,164,0.4);
outline-offset: 5px;
font-size: 15px;
  }
   
  .howBtn {

    outline: 5px double rgba(28,110,164,0.4);
outline-offset: 5px;
font-size: 15px;
width: 50vw;
border-width: 10%;
  }