.aboutHeader{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    place-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    text-decoration: underline;
}
p {
    display: flex;
    flex-direction: column;
    place-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    outline: 1px double rgba(28,110,164,0.69);
    border: 3px ridge rgba(33, 111, 164, 0.313);
    padding: auto;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%; 
}
header {
    place-content: center;
    font-size: 150%;  
}
h3{
    place-content: center;
}
.aboutHeader{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    place-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    text-decoration: underline;
}

