.HowTo {
    display: flex;
    flex-direction: column;
    place-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    outline: 1px double rgba(28,110,164,0.69);
    border: 3px ridge rgba(33, 111, 164, 0.313);
    padding: auto;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20%; 
}
/* header {
    text-decoration: underline white  2px;
    padding: auto; */

ul {
    display: flex;
    flex-direction: column;
    place-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.8px;
    outline: 1px double rgba(28,110,164,0.69);
    border: 3px ridge rgba(33, 111, 164, 0.313);
    padding: auto;
    color: white;
    
}
header {
    place-content: center;
     
}
h3{
    place-content: center;
}

